<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to Lib</h1>
<h1>Book List</h1>

<form action="{% url 'MyLMS:search_action' %}" method="POST">
    {% csrf_token %}
    <label>search by title</label><br>
    <input type="text" name = "title" value="" /><br>
    <input type="submit" value="Submit">
</form>

{% for book in books  %}
    <a href="{% url 'MyLMS:book_page' book.id %}">{{ book.Title }}</a>
    <br/>
{% endfor %}

</body>
</html>