<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
<h1>{{ line }}</h1>
<form action="{% url 'MyLMS:signup_action' %}" method="POST">
    {% csrf_token %}
    <label>readername</label><br>
    <input type="text" name = "readername" value="" /><br>
    <label>password</label><br>
    <input type="password" name = "pwd" value="" /><br>
    <input type="submit" value="Signup">
</form>
<a href="{% url 'MyLMS:login_page' %}">Login</a>
</body>
</html>